{% extends 'layout.twig' %}
{% block content %}
<main>
    <div class="hello-world">
        <p>Error 404</p>
        <span>Page <b>{{ prev_page }}</b> not found</span>
        <br>
        <span> {{ version }} </span>
    </div>
</main>
{% endblock content %}