{% extends 'layout.twig' %}
{% block content %}
    <main>
        <div class="hello-world">
            <p>Error 500</p>
            <span>We are extremely sorry, fatal error occurred. Please, contact our devs, meanwhile
            they should already work on it</span>
            <br>
            <b>Details:</b>
            <pre>{{ error }}</pre>
        </div>
    </main>
{% endblock content %}