{% spaceless %}
<!doctype html>
<html lang="en">
    <head>
    {% include 'head.twig' %}
    {% include 'scripts.twig' %}
    </head>
    <body>
        {% include template ~ '.twig' %}
    </body>
</html>
{% endspaceless %}