{# spaceless #}
<!doctype html>
<html lang="en">

    <head>
    {% block head %}
        {% include 'head.twig' %}
        {% include 'scripts.twig' %}
    {% endblock head %}
    </head>
    <body>
        {% block header %}
            {# place for header #}
        {% endblock header %}
        {% block content %}
            {# here could be anything #}
        {% endblock content %}
        {% block footer %}
            {# place for footer #}
        {% endblock footer %}
    </body>
</html>
{# endspaceless #}