<form id="test" class="ajax_form" url="/ajax/test" method="post">
    <input name="test" value="1">
    <input type="submit">
</form>
<script>
    var form_test = {
        success: function(text) {
            console.log(text);
        },
        error: function(text) {
            console.log(text);
        }
    };
</script>