main,
body {
  padding: 0;
  margin: 0;
}
h2,
span,
p {
  font-family: "Comfortaa";
  font-weight: 200;
}
.hello-world {
  margin-top: 200px;
  display: block;
  text-align: center;
}
.hello-world p {
  font-size: 28px;
  font-weight: bold;
}
