main,
body {
  padding: 0;
  margin: 0;
}
h2,
span,
p {
  font-family: "Comfortaa";
  font-weight: 200;
}
main {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .hello-world {
  display: block;
  text-align: center;
}
main .hello-world p {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
}
